<tr>
    <td style="text-align: center;">[ProductName]</td>
    <td style="text-align: center;">[Quantity]</td>
    <td style="text-align: center;">[SellingPrice]</td>
    <td style="text-align: center;">[TotalPrice]</td>
</tr>